[Desktop Entry]
Name=Kibi
GenericName=Text Editor
GenericName[fr]=Éditeur de texte
Exec=/usr/bin/kibi %f
Type=Application
Terminal=true
Categories=Development;Utility;ConsoleOnly;TextEditor
MimeType=text/plain
