on:
  push:
    branches:
      - "master"
  pull_request:
    paths:
      - "**.rs"
      - ".github/workflows/loc.yml"

name: LOC

permissions:
  contents: read

jobs:
  check_lines_of_code:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Setup cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5  # v2.8.2
        with:
          prefix-key: rust-stable
      - name: Check LOC <= 1024
        run: cargo xtask count-loc
