on:
  pull_request:
    paths:
      - "**.rs"
      - ".github/workflows/loc.yml"

name: LOC

jobs:
  check_lines_of_code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install rust
        uses: dtolnay/rust-toolchain@stable
      - name: Check LOC <= 1024
        run: cargo xtask count-loc
