name: Mirror to Codeberg

on:
  push:
    branches:
      - "master"
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

permissions:
  contents: read

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
          ref: master
      - name: Push to Codeberg
        run: |
          mkdir --parents --mode=700 ~/.ssh
          echo "${{ secrets.CODEBERG_SSH_KNOWN_HOSTS }}" > ~/.ssh/known_hosts
          echo "${{ secrets.CODEBERG_SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          git remote add mirror ssh://git@codeberg.org/ilai/kibi.git
          git push --tags --verbose mirror master
