name: Sanitizers

on:
  pull_request:
    branches:
      - master
    paths:
      - ".github/workflows/sanitizers.yml"
      - "**.rs"
      - "*cargo/config.toml"
      - "*Cargo.toml"
      - "*Cargo.lock"
  schedule:
    - cron: "12 07 * * 2" # weekly on Tuesday

permissions:
  contents: read

jobs:
  sanitizers:
    strategy:
      fail-fast: false
      matrix:
        sanitizer:
          - address
          - leak
          - memory
          - safestack
          - thread
        target:
          - x86_64-unknown-linux-gnu
          - aarch64-apple-darwin
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - target: aarch64-apple-darwin
            os: macos-latest
          - sanitizer: memory
            extra_flags: -Zsanitizer-memory-track-origins
        exclude:
          # LeakSanitizer is not supported on MacOS
          - sanitizer: leak
            target: aarch64-apple-darwin
          # MemorySanitizer is not supported on MacOS
          - sanitizer: memory
            target: aarch64-apple-darwin
          # Safestack is not supported on MacOS
          - sanitizer: safestack
            target: aarch64-apple-darwin

    runs-on: ${{ matrix.os }}

    permissions:
      contents: read

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Setup cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5  # v2.8.2
        with:
          prefix-key: rust-nightly
      - name: Install Rust nightly with rust-src
        run: |
          rustup toolchain install nightly --target ${{ matrix.target }} --component rust-src --profile minimal --allow-downgrade
          rustup default nightly
          rustc +nightly --version --verbose
      - name: Run tests with sanitizer
        run: cargo test --all-targets -Zbuild-std --verbose --all-features --no-fail-fast --target ${{ matrix.target }}
        env:
          RUSTFLAGS: -D warnings -Zsanitizer=${{ matrix.sanitizer }} ${{ matrix.extra_flags }}
          RUSTDOCFLAGS: -Zsanitizer=${{ matrix.sanitizer }} ${{ matrix.extra_flags }}
